:root{
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --border-size: 2px;
}

section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header, #footer{
    background-color: var(--color-800);
    color: var(--color-50);
}

#header, #main {
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px; 
}

#header {
    font-size: 3rem;
    /* font-weight: bold; */
}

#main{
    text-align: center;
    background-color: var(--color-50);
    color: var(--color-800);
    /* font-weight: bold; */
}

#main>div {
    font-size: 2rem;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 350px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: var(--border-size) solid var(--color-800);
    border-left: var(--border-size) solid var(--color-800);
    grid-gap: 1px;
    /* justify-content: center; */
    /* align-content: center; */
}

.cell {
    background-color: var(--color-50);
    padding: 15px;
    border-top: var(--border-size) solid var(--color-800);
    border-right: var(--border-size) solid var(--color-800);
    vertical-align: middle;
    /* align-items:center; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 3rem;
    color: var(--color-800);
}

.cell:hover {
    background-color: var(--color-100);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--color-700);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}